{% import searchService.standardFilters as standardFilters %}

{% set translationDomain = "titles" %}

{% trans_default_domain translationDomain %}
{% set totalGroup = 0 %}
{% for filterBlock in filterBlocks %}
    {% set totalGroup = totalGroup + filterBlock.groupsFilters|length %}
{% endfor %}

{% set typeTabs = "standard-tabs" %}
{% if totalGroup > 0 %}
    {% set typeTabs = "side-tabs" %}
{% endif %}

{% for filterBlock in filterBlocks %}
    {% set groups = filterBlock.groupsFilters %}
    {% set style = null %}
    {% if filterBlock.parameter(constant('Tecnocreaciones\\Bundle\\ToolsBundle\\Model\\Search\\ModelFilterBlock::PARAMETER_STYLE')) is not null %}
        {% set style = "style='"~filterBlock.parameter(constant('Tecnocreaciones\\Bundle\\ToolsBundle\\Model\\Search\\ModelFilterBlock::PARAMETER_STYLE'))~"'" %}
    {% endif %}
    {{ standardFilters.optionsBlock() }}
    {{ standardFilters.eraserAll() }}

    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="myTab3">
            {% for group in groups %}
                {% if loop.first %}
                    <li class="tab-sky active">
                        <a data-toggle="tab" id="tab_{{ loop.index }}" href="#tab-{{ loop.index }}" tooltip="{{ group|trans({},translationDomain) }}">
                            {{ group|trans({},translationDomain) }}
                        </a>
                    </li>
                {% else %}
                    <li class="tab-red">
                        <a data-toggle="tab" id="tab_{{ loop.index }}" href="#tab-{{ loop.index }}" tooltip="{{ group|trans({},translationDomain) }}">
                            {{ group|trans({},translationDomain) }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <div class="tab-content" {{ style|raw }}>

            {% for group in groups %}
                {% set entityFilters = filterBlock.filtersByGroup(group) %}
                <div id="tab-{{ loop.index }}" class="tab-pane{% if loop.first %} active{% endif %}">
                    <div class="container-fluid">
                        <div class="row">
                            {% for filter in entityFilters %}
                                {% set typeFilter = filter.typeFilter %}
                                {% set groupFilter = searchService.getFilterGroupByFilter(typeFilter) %}
                                {% if filter.rol is not null%}
                                    {% if is_granted([filter.rol]) %}
                                        <div class="col-md-4">{{ searchService.renderFilter(groupFilter,typeFilter,filter)|raw }}</div>  
                                    {% endif %}
                                {% else %}
                                    <div class="col-md-4">{{ searchService.renderFilter(groupFilter,typeFilter,filter)|raw }}</div>  
                                {%endif%}
                                                                  
                            {% endfor %}
                            {#                          <div class="col-md-4">.col-md-4</div>#}
                        </div>
                    </div>
                </div>
            {% endfor %}            
        </div>
    </div>

{% endfor %}