<div ng-controller="ExporterController as exporterCtrl" class="display-inline width-100" >
    <h6>{{ "title.documents"|trans({},"titles") }}</h6>
    <table class="table table-striped table-bordered no-footer" loading-container="exporterCtrl.loading">
        <tbody>
            <tr ng-init="exporterCtrl.setData({{ { idChain: chain.id,id:entity.id,className: chain.getClassName(true), action: chain.action }|serialize }})">
                <td align="center">
                    Modelo
                    <select ng-model="exporterCtrl.name" id="select-model-document">
                        <option></option>
                        {% for model in chain.models %}
                            <option value="{{ model.name }}">{{ model.getNameTranslate() }} [{{ model.getFormat()|upper }}]</option>
                        {% endfor %}
                    </select>
                </td>
                <td align="center" colspan="2"><a href="" ng-click="exporterCtrl.generate()" class="btn btn-sm" ng-disabled="!exporterCtrl.name">{{ "button.generate"|trans({},"buttons") }}</a></td>
            </tr>
            {% set files = [] %}
            {% for file in chain.files %}
                {% set fileName = file.getFilename() %}
                {% set files = files|merge([
                    chain.filePathToArray(entity.id,file)
                ]) %}
            {% endfor %}
            
            <tr ng-init="exporterCtrl.setFiles({{ files|serialize }})">
                <td colspan="2" style="padding: 0px;">
                    <table class="table table-striped table-hover" style="width: 100%">
                        <tbody>
                            <tr ng-repeat="file in exporterCtrl.files" class="{$ file.class $}" fix-js>
                                <td class="bold" style="width: 5%">{$ $index + 1 $}</td>
                                <td style="width: 65%">
                                    <a ng-click="exporterCtrl.download(file)" href=""><span ng-bind-html="file.icon"></span> {$ file.fileName $}</a>
                                </td>
                                <td style="width: 25%">{$ file.date $}</td>
                                <td style="width: 5%">
                                    <a class="color-black" ng-click="exporterCtrl.delete(file)" href="#">
                                        <i class="mp mp-delete" data-toggle="tooltip" data-original-title="{{ "button.delete"|trans({},"buttons") }}"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="text-center bold" ng-if="exporterCtrl.length == 0">
                                <td>{{ "content.empty.documents"|trans({},"contents") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>