{% extends "TecnocreacionesToolsBundle:Tabs:show.html.twig" %}

{% block ng_parameter %}
    class="tabcontent-border"
{% endblock ng_parameter %}

{% set classFormNotes = "form-notes"~random() %}
{% set classListNotes = "list-notes"~random() %}
{% set classButtonAction = "list-action-btn"~random() %}
{% set classDivButton1 = "d-btn-1"~random() %}
{% set classDivButton2 = "d-btn-2"~random() %}

{% set publics = objectDataManager.notes.getPaginator(constant('Tecnoready\\Common\\Model\\ObjectManager\\NoteManager\\NoteInterface::TYPE_PUBLIC')) %}
{% set privates = objectDataManager.notes.getPaginator(constant('Tecnoready\\Common\\Model\\ObjectManager\\NoteManager\\NoteInterface::TYPE_PRIVATE')) %}

{% macro printNotes(notes) %}
    <ul>
        {% for note in notes %}
            <li><small>({{ note.createdAt()|date('d/m/Y h:i:s a',timezone_get())  }})</small>&nbsp;{{ note.description }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block tab_body %}
    {% import _self as macros %}
    <style>
        table.border {
            border-collapse: collapse;
            border: 1px white;
        }
        table.border td {
            border: 1px solid #DCDCDC;
            padding: 1px 2px;
            border-collapse: collapse;
        }
        .title-section {
            color: #257dd5;
        }
        .notes-list {
            padding: 10px;
        }
    </style>
    <form action="{{ path("tabs_object_note_add",parameters_to_route) }}" enctype="multipart/form-data" method="POST" autocomplete="off">
        <div class="row p-2">
            <div class="col-lg-12">
                <table class="border" width="100%">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>{{ "Public notes"|trans }}</b>
                                <br/>
                                <small>{{ "public_notes.help"|trans }}</small>
                            </td>
                            <td class="text-left">
                                <div class="{{ classListNotes }} notes-list">
                                    {{ macros.printNotes(publics) }}
                                </div>
                                <div class="{{ classFormNotes }} hide">
                                    {{ form_widget(form_notes.publicNote) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>{{ "Private Notes" | trans }}</b>
                                <br/>
                                <small>{{ "private_notes.help"|trans }}</small>
                            </td>
                            <td class="text-left">
                                <div class="{{ classListNotes }} notes-list">
                                    {{ macros.printNotes(privates) }}
                                </div>
                                <div class="{{ classFormNotes }} hide">
                                    {{ form_widget(form_notes.privateNote) }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{ form_rest(form_notes) }}
        <div class="text-right p-2">
            <div class="{{ classDivButton1 }}" >
                <button type="button" class="btn btn-success {{ classButtonAction }}" data-action="update"><i class="fas fa-edit"></i>&nbsp;{{ "button.notes.update"|trans }}</button>
            </div>
            <div class="hide {{ classDivButton2 }}">
                <button type="submit" class="btn btn-success" data-action="save">
                    <i class="fas fa-save"></i>
                    {{ "button.notes.save"|trans }}
                </button>
                <button type="button" class="btn btn-link {{ classButtonAction }}" data-action="cancel"><i class="fas fa-undo"></i>&nbsp;{{ "button.notes.cancel"|trans }}</button>
            </div>
            <script>
                $(function () {
                    function showForms() {
                        $(".{{ classFormNotes }}").removeClass("hide");
                        $(".{{ classDivButton2 }}").removeClass("hide");
                        $(".{{ classListNotes }}").addClass("hide");
                        $(".{{ classDivButton1 }}").addClass("hide");
                    }
                    function hideForms() {
                        $(".{{ classFormNotes }}").addClass("hide");
                        $(".{{ classDivButton2 }}").addClass("hide");
                        $(".{{ classListNotes }}").removeClass("hide");
                        $(".{{ classDivButton1 }}").removeClass("hide");
                    }
                    $(".{{ classButtonAction }}").on("click", function () {
                        var action = $(this).attr("data-action");
                        if (action == "update") {
                            showForms();
                        } else if (action == "cancel") {
                            hideForms();
                        }
                    });
                });
            </script>
        </div>
    </form>
{% endblock %}

{% block tab_buttons %}

{% endblock %}