{% extends "layouts/components/common/tab/show.html.twig" %}

{% block ng_parameter %}
    class="tabcontent-border"
{% endblock ng_parameter %}

{% set files = tab.parameter("objectDataManager").documents.getAll() %}

{% macro header_sort(tab,property) %}
    {% set uri = tab.parameter("parameters_to_route")["_conf"]["returnUrl"] %}
    <a href="{{ uri }}?{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_PROPERTY') }}={{ property }}&{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_ORDER') }}=ASC">
        <i class="vf vf-keyboard-arrow-down" alt="A-Z" data-original-title="A-Z"></i>
    </a>
    <a href="{{ uri }}?{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_PROPERTY') }}={{ property }}&{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_ORDER') }}=DESC">
        <i class="vf vf-keyboard-arrow-up" alt="Z-A" data-original-title="Z-A"></i>
    </a>
{% endmacro %}

{% import _self as internal %}

{% block tab_body %}
    
    <style>
        table.border {
            border-collapse: collapse;
            border: 1px white;
        }
        table.border td {
            border: 1px solid #DCDCDC;
            padding: 1px 2px;
            border-collapse: collapse;
        }
        .title-section {
            color: #257dd5;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            {#<div class="contact-information">
                <h4>Contact information</h4>
                <div class="phone-content">
                    <span class="contact-title">Nª de archivos adjuntos</span>
                    <span class="phone-number">0</span>
                </div>
                <div class="address-content">
                    <span class="contact-title">Tamaño total de los archivos/documentos adjuntos</span>
                    <span class="mail-address">0 bytes</span>
                </div>
            </div>#}
            <table class="border" width="100%">
                <tbody>
                    <tr>
                        <td width="30%">Nª de archivos adjuntos</td>
                        <td class="text-left">{{ files|length }}</td>
                    </tr>
                    <tr>
                        {% set totalBytes = 0 %}
                        {% for file in files %}
                            {% set totalBytes = totalBytes + file.getSize() %}
                        {% endfor %}
                        <td>Tamaño total de los archivos/documentos adjuntos</td>
                        <td class="text-left">{{ staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","formatBytes",[totalBytes]) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block tab_footer %}
    <div class="clearfix">&nbsp;</div>
    <div class="card">
        <div class="card-title">
            <h6 class="title-section">Adjuntar un archivo</h6>
        </div>
        <div class="card-body">
            <form action="{{ path("tabs_object_manager_documents_upload",tab.parameter("parameters_to_route")) }}" enctype="multipart/form-data" method="POST">
                {{ form_widget(tab.parameter("form").documents) }}
                &nbsp; 
                <button type="input" class="btn btn-info btn-outline btn-addon btn-sm m-b-10 m-l-5"><i class="vf vf-document"></i>Adjuntar</button>
                {#                            <input type="submit" class="btn btn-info btn-outline btn-sm m-b-10 m-l-5" name="sendit" value="Registrar">#}
                {% set maxUpload = staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","getMaximumFileUploadSize",[]) %}
                (Tamaño máximo: {{ staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","formatBytes",[maxUpload]) }})
                {{ form_rest(tab.parameter("form")) }}
            </form>
            
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="card">
        <div class="card-title">
            <h6 class="title-section">Archivos y documentos adjuntos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                Documentos
                                {{ internal.header_sort(tab,"filename")}}
                            </th>
                            <th>
                                Tamaño
                                {{ internal.header_sort(tab,"size")}}
                            </th>
                            <th>
                                Fecha
                                {{ internal.header_sort(tab,"ATime")}}
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files|super_usort(app.request.get(constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_PROPERTY'),"filename"),app.request.get(constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_ORDER'),"ASC")) %}
                            {% set size = file.getSize() %}
                            
                            {% set badge = "badge-success" %}
                            {% if size > 20971520 %}
{#                              20 MB   #}
                                {% set badge = "badge-danger" %}
                            {% elseif size > 10485760  %}
{#                              10 MB   #}
                                {% set badge = "badge-warning" %}
                            {% endif %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    {% set params = tab.parameter("parameters_to_route")|merge({filename: file.filename}) %}
                                    <i class="vf vf-document"></i>&nbsp;
                                    <a href="{{ path("tabs_object_manager_documents_get",params) }}" class="btn btn-link btn-sm">
                                        {{ file.filename }}
                                    </a>
                                </td>
                                <td>
                                    <span class="badge {{ badge }}">
                                        {{ staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","formatBytes",[size]) }}
                                    </span>
                                </td>
                                <td>{{ file.getATime()|date('d/m/Y h:i:s a',timezone_get())  }}</td>
                                <td class="color-primary"><a href="{{ path("tabs_object_manager_documents_delete",params) }}" class="btn btn-danger"><i class="vf vf-delete"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}