{% extends "layouts/components/common/tab/show.html.twig" %}

{% set deleteFtn = "delete"~random() %}

{% block ng_parameter %}
    class="tabcontent-border"
{% endblock ng_parameter %}

{% set files = objectDataManager.documents.getAll() %}

{% macro header_sort(tab,property,parameters_to_route) %}
    {% set uri = parameters_to_route["_conf"]["returnUrl"] %}
    <a href="{{ uri }}?{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_PROPERTY') }}={{ property }}&{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_ORDER') }}=ASC">
        <i class="fas fa-arrow-down" alt="A-Z" data-original-title="A-Z"></i>
    </a>
    <a href="{{ uri }}?{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_PROPERTY') }}={{ property }}&{{ constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_ORDER') }}=DESC">
        <i class="fas fa-arrow-up" alt="Z-A" data-original-title="Z-A"></i>
    </a>
{% endmacro %}

{% import _self as internal %}

{% block tab_body %}
    <style>
        table.border {
            border-collapse: collapse;
            border: 1px white;
        }
        table.border td {
            border: 1px solid #DCDCDC;
            padding: 1px 2px;
            border-collapse: collapse;
        }
        .title-section {
            color: #257dd5;
        }
    </style>
    <div class="row p-2">
        <div class="col-lg-12">
            <table class="border" width="100%">
                <tbody>
                    <tr>
                        <td width="30%">{{ "tab.documents.attachments"|trans }}</td>
                        <td class="text-left">{{ files|length }}</td>
                    </tr>
                    <tr>
                        {% set totalBytes = 0 %}
                        {% for file in files %}
                            {% set totalBytes = totalBytes + file.getSize() %}
                        {% endfor %}
                        <td>{{ "tab.documents.attachments.size"|trans }}</td>
                        <td class="text-left">{{ staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","formatBytes",[totalBytes]) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block tab_footer %}
    <div class="p-2">
        <div class="clearfix">&nbsp;</div>
        <div class="card p-2">
            <div class="card-title">
                <h6 class="title-section">{{ "tab.documents.attach_file"|trans }}</h6>
            </div>
            <div class="card-body">
                <form action="{{ path("tabs_object_manager_documents_upload",parameters_to_route) }}" enctype="multipart/form-data" method="POST" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-8">
                            {{ form_widget(form.documents) }}
                            <div>&nbsp;</div>
                            {{ form_widget(form.comments) }}
                        </div>
                        <div class="col-lg-4">
                            <button type="input" class="btn btn-info btn-outline btn-addon"><i class="fas fa-file-upload"></i>&nbsp;{{ "tab.documents.attach"|trans }}</button>
                            {% set maxUpload = staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","getMaximumFileUploadSize",[]) %}
                            ({{ "tab.documents.attach.maximum_size"|trans }}&nbsp;{{ staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","formatBytes",[maxUpload]) }})
                        </div>
                    </div>
                    {#&nbsp;#}
                    {{ form_rest(form) }}
                </form>

            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="card p-2">
            <div class="card-title">
                <h6 class="title-section">{{ "tab.documents.files_attachments"|trans }}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    {{ "tab.documents.documents"|trans }}
                                    {{ internal.header_sort(tab,"filename",parameters_to_route)}}
                                </th>
                                <th>
                                    {{ "tab.documents.size"|trans }}
                                    {{ internal.header_sort(tab,"size",parameters_to_route)}}
                                </th>
                                <th>
                                    {{ "tab.documents.date"|trans }}
                                    {{ internal.header_sort(tab,"ATime",parameters_to_route)}}
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files|super_usort(app.request.get(constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_PROPERTY'),"filename"),app.request.get(constant('Tecnoready\\Common\\Model\\Tab\\Tab::SORT_ORDER'),"ASC")) %}
                                {% set size = file.getSize() %}

                                {% set badge = "badge-success" %}
                                {% if size > 20971520 %}
                                    {#                              20 MB   #}
                                    {% set badge = "badge-danger" %}
                                {% elseif size > 10485760  %}
                                    {#                              10 MB   #}
                                    {% set badge = "badge-warning" %}
                                {% endif %}
                                {% set metadata = objectDataManager.documents.getMetadata(file) %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>
                                        {% set params = parameters_to_route|merge({filename: file.filename}) %}&nbsp;
                                        {{ staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\ToolsUtils","iconExtension",[file.extension])|raw }}
                                        <a href="{{ path("tabs_object_manager_documents_get",params) }}" class="btn btn-link btn-sm">
                                            {{ file.filename }}
                                        </a>
                                        {% if metadata["comments"] is not null %}
                                            ({{ metadata["comments"] }})
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="badge {{ badge }}">
                                            {{ staticCall("Tecnocreaciones\\Bundle\\ToolsBundle\\Service\\Tools\\StringUtil","formatBytes",[size]) }}
                                        </span>
                                    </td>
                                    <td>{{ file.getATime()|date('d/m/Y h:i:s a',timezone_get())  }}</td>
                                    <td class="color-primary">
                                        <button onclick="{{ deleteFtn }}('{{ file.filename }}', '{{ path("tabs_object_manager_documents_delete",params) }}');" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            {% else%}
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>

                                    <td colspan="6" class="text-center">{{ "tab.documents.empty_documents_uploaded"|trans }}</td>
                                </tr>
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
            function {{ deleteFtn }}(name, url) {
                if (confirm("{{ "tab.documents.question.delete"|trans }} " + name)) {
                    window.location = url;
                }
            }
    </script>
{% endblock %}