{% extends "::layout.html.twig" %}

{% trans_default_domain 'widgetBox' %}

{% block pageBody %}
    
    <hgroup id="main-title" class="thin">
        <h1>{{ 'widget_box.header'|trans }}</h1>
    </hgroup>
    
    {% for definitionBlockGrid in definitionsBlockGrid %}
        <details class="details margin-bottom" open="">
            <summary role="button" aria-expanded="true" class="table table-bordered">
                <span class="green underline font-120 bold">
                {{ definitionBlockGrid.type|trans({},definitionBlockGrid.translationDomain) }}&nbsp;
                {{ 'widget_box.widgets'|trans({'%quantity%': (definitionBlockGrid.countWidgets()) })|raw }}
                </span>
            </summary>
            <div class="with-padding">
                <table border="1" class="table table-bordered" style="width: 100%;">
                    <tr>
                        <td style="width: 60%" rowspan="2">

                            <ul class="list" style="list-style-type: decimal-leading-zero;margin-left: 23px">
                                {% for name,parameters in definitionBlockGrid.names %}
                                    {% if definitionBlockGrid.hasPermission(name) %}
                                        <li>&nbsp;<a href="{{ path('block_widget_box_add_all',{type:definitionBlockGrid.type,name: name }) }}">{{ name|trans({},definitionBlockGrid.translationDomain) }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <div class="with-padding">
                                <table class="boxed left-border">
                                    <tr>
                                        <td>
                                            <div>{{ 'widget_box.templates'|trans({'%quantity%': (definitionBlockGrid.templates|length) })|raw }}:</div>
                                            {% for template,label in definitionBlockGrid.templates %}
                                                {{ label|trans({},definitionBlockGrid.translationDomain) }}{% if loop.last %}.{% else %},{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>{{ 'widget_box.events'|trans({'%quantity%': (definitionBlockGrid.events|length) })|raw }}:</div>
                                            {% for key,event in definitionBlockGrid.parseEvents %}
                                                {{ event|trans({},definitionBlockGrid.translationDomain) }}{% if loop.last %}.{% else %},{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p class="button-height align-right float-right">
                                <a href="{{ path('block_widget_box_create',{type: definitionBlockGrid.type}) }}" class="button">
                                    <span class="button-icon"><span class="fa fa-plus-circle"></span></span>
                                    {{ 'widget_box.buttons.add'|trans }}
                                </a>
                                &nbsp;
                                <a href="{{ path('block_widget_box_add_all',{type: definitionBlockGrid.type}) }}" class="button">
                                    <span class="button-icon"><span class="fa fa-list-alt"></span></span>
                                    {{ 'widget_box.buttons.add_all'|trans }}
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </details>
        
        <div>&nbsp;</div>
    {% endfor %}
{% endblock pageBody %}