{% extends gridWidgetBoxService.getOption("base_layout") %}

{% trans_default_domain 'widgetBox' %}

{% block body %}

    <div class="well bordered-left bordered-themeprimary animated bounceInDown">
        <hgroup id="main-title" class="thin">
            <h1><i class="mp mp-widgets-1"></i>&nbsp;{{ 'widget_box.header'|trans }}</h1>
        </hgroup>
        <p>Puede añadir un widget presione en el nombre o presione "{{ 'widget_box.buttons.add_all'|trans }}" para agregar todos de la sección indicada.
            <a href="{{ path("block_widget_box_delete_all",{eventName: app.request.get("eventName")}) }}" target="_self" class="btn btn-link pull-right bold animated fadeInLeft">
                <i class="mp mp-widgets-1 mp-4x"></i>&nbsp;{{ "widget_box.clear"|trans }}
            </a>
        </p>
        {% set news = gridWidgetBoxService.countNews() %}
        {% if news > 0 %}
            <p><i class="fa fa-star yellow margin-right-5"></i><strong>Nota:</strong> 
                Hay {{ news }} widget(s) nuevos!
            </p>
        {% endif %}
    </div>
    {% for group,definitionsBlockGrid in definitions if gridWidgetBoxService.counInGroup(group) > 0%}
        <h5 class="row-title before-success"><i class="glyphicon glyphicon-arrow-right success"></i>
            {{ group|trans({},"widgets") }}&nbsp;
            {{ 'widget_box.widgets'|trans({'%quantity%': (gridWidgetBoxService.counInGroup(group)) })|raw }}
        </h5>
        <div class="well">
        {% for definitionBlockGrid in definitionsBlockGrid %}
                <div class="labels-container">
                    {% if definitionsBlockGrid|length > 1 %}
                        <h6>{{ definitionBlockGrid.type|trans({},definitionBlockGrid.translationDomain) }}</h6>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul class="list" style="list-style-type: decimal-leading-zero;margin-left: 23px">
                                {% for name,parameters in definitionBlockGrid.names %}
                                    {% set hasPermission = definitionBlockGrid.hasPermission(name) %}
                                    {% set hasPermissionMaster = is_granted("ROLE_APP_WIDGET_SHOW_ROLE") %}
                                    {% if (hasPermissionMaster or hasPermission) %}
                                        <li>
                                            {% if definitionBlockGrid.isNew(name) %}
                                                <b>{{ "widget_box.new"|trans }}</b>
                                            {% endif %}
                                            &nbsp;
                                            {% if hasPermission %}
                                                <a href="{{ path('block_widget_box_add_all',{type:definitionBlockGrid.type,name: name,eventName: app.request.get("eventName") }) }}" target="_self">
                                            {% endif %}
                                                {{ name|trans({},definitionBlockGrid.translationDomain) }}
                                            {% if hasPermission %}
                                                </a>
                                            {% endif %}
                                            {% if hasPermissionMaster and definitionBlockGrid.getInfo(name,"rol")|length > 0%}
                                                </br>
                                                <small>({{ definitionBlockGrid.getInfo(name,"rol") }})</small>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="with-padding">
                                <table class="boxed left-border">
                                    <tr>
                                        <td>
                                            <div>{{ 'widget_box.templates'|trans({'%quantity%': (definitionBlockGrid.templates|length) })|raw }}:</div>
                                            {% for template,label in definitionBlockGrid.templates %}
                                                {{ label|trans({},definitionBlockGrid.translationDomain) }}{% if loop.last %}.{% else %},{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>{{ 'widget_box.events'|trans({'%quantity%': (definitionBlockGrid.events|length) })|raw }}:</div>
                                            {% for key,event in definitionBlockGrid.parseEvents %}
                                                {{ event|trans({},definitionBlockGrid.translationDomain) }}{% if loop.last %}.{% else %},{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p class="button-height align-right float-right">
                                {#<a href="{{ path('block_widget_box_create',{type: definitionBlockGrid.type}) }}" class="button" target="_self">
                                    <span class="button-icon"><span class="fa fa-plus-circle"></span></span>
                                        {{ 'widget_box.buttons.add'|trans }}
                                </a>
                                &nbsp;#}
                                <a href="{{ path('block_widget_box_add_all',{type: definitionBlockGrid.type,eventName: app.request.get("eventName")}) }}" class="button" target="_self">
                                    <span class="button-icon"><span class="fa fa-list-alt"></span></span>
                                        {{ 'widget_box.buttons.add_all'|trans }}
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
                {% if definitionsBlockGrid|length > 1 %}
                    <hr class="wide">
                {% endif %}
        {% endfor %}
        </div>
        <div>&nbsp;</div>
    {% endfor %}
{% endblock body %}